.navigation{
    margin: 5px 5px;
}
.navigation a{
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    padding:5px;
}
.nav-active{
    color: blue;
}
centrer{
    position:absolute; 
    top:50%; 
    left:50%; 
    transform:translate(-50%,-50%);
}
body{
    position:absolute; 
    top:50%; 
    left:50%; 
    transform:translate(-50%,-50%);
}
form{
    border: 1px solid #ccc; 
}
input[type="text"]{
    margin: 5px 5px;
    border: 1px solid #ccc;
    outline: none;
}
input[type='submit']
{
    width: 150px; border-radius: 5px; background-color: blue; color: white; clear: both;
}